<h2>The Wlixir Chat Web</h2>
<div id='message-list' class='row'>
</div>

<form id="chat-form">
  <input type="text" placeholeder="Username" id="user-name">
  <textarea placeholder="Your comment" id="user-msg"></textarea>
  <button type="submit">Post</button>
</form>
